<html>
	<head>
		<title>Prasanna Vijayan</title>
		<link rel="stylesheet" href="style/bundle.css" />
	</head>
	<body>
		<div class="header">
			<div class="navbar">
				My Portfolio
			</div>
		</div>
		<div class="herounit">
			<div class="herounit_title">Prasanna Vijayan</div>
			<div class="herounit_subheading">Frontend Developer</div>
		</div>
		<div class="section">
			<div class="container flex-start-end">
				<div class="">
					<div class="section_title">Resume</div>
					<div class="undl undl-red"></div>
				</div>
				<div>
					<a href="resume.html">View</a>
				</div>
			</div>
		</div>
	</body>
</html>
