<html>
	<head>
		<title>Prasanna Vijayan</title>
		<link rel="stylesheet" href="style/bundle.css" />
	</head>
	<body>
		<div class="header">
			<div class="navbar">
				My Portfolio
			</div>
		</div>
		<div class="herounit">
			<div class="herounit_title">Prasanna Vijayan</div>
			<div class="herounit_subheading">Frontend Developer</div>
		</div>

		<div class="section section_play">
			<div class="container">
				<div class="section_title">About me</div>
				<div class="undl undl-green"></div>
				<div class="flex-start-end">
					<p>
						I'm PV (most people call me that). 
						I love food. <br>I love to play games, recently got <u>PS4</u> which is my favorite.<br><br>
						I have always wanted to travel to lot of places to take snaps (not a professional), <br>Just loves to click a snap. <br><br>
						I like things automated like we do testing and automated deploys. It's Fun.<br> Still I'm not a expert in any technology and as my mentor said <br><br> I'm not Famous as Date.today();<br><br>
						Huge fan of #Google #Apple #spaceX #uiux #web #js #scss ...<br><br>
					</p>
				</div>
			</div>
		</div>

		<div class="section section_green">
			<div class="container">
				<div class="section_title text-white text-light">Designer / Coder</div>
				<div class="undl undl-green"></div>
				<div class="row">
					<p class="col-md-7 text-white">
						I design web UI, logos(Intermediate). I love to decorate web with minimalistic design, colors and to make the information more valuable than just design. Well, Design plays a role to interact with eye and gives the information to the users. 
						<br><br>
						Works with Sketch, Figma. Never tried Photoshop but Gimp, inkscape is much better in what I am doing with simple designs and logos.
						<br><br>
						I have a good experience in JS (Ember) than other Frameworks which comes in handy for most of the app I do.
					</p>
				</div>
			</div>
		</div>

		<div class="section section-gray">
			<div class="container flex-start-end">
				<div class="">
					<div class="section_title">Resume</div>
					<div class="undl undl-red"></div>
				</div>
				<div>
					<a class="btn" href="resume.html">View</a>
				</div>
			</div>
		</div>
	</body>
</html>
