<html>
	<head>
		<title>Prasanna Vijayan Resume</title>
		<link rel="stylesheet" href="style/bundle.css" />
	</head>
	<body>
		<div class="header">
			<div class="navbar">
				<span><a href="/">My Portfolio</a> > Resume</span>
			</div>
		</div>

		<div class="herounit_green">
			<div class="herounit_title">Prasanna Vijayan</div>
			<div class="herounit_subheading">Resume</div>
		</div>
		
		<div class="section-resume">
			<div class="container resume">
				<div class="flex-start-end">
					<div class="image">
						<img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAkcAAAAJGUyMzUyZDhjLWI2OTItNGY0Yy1hMDg5LWI0ZGI4ZmVjY2Y3Zg.jpg">
					</div>
					<div class="small details">
						<p>Email : <a href="mailto:prasannavijayan446@gmail.com" rel="nofollow">prasannavijayan446@gmail.com</a></p>
						<p>Phone Number : <b>+91 99527 49061</b></p>
						<p>DOB: <b>09 December 1992</b></p>
					</div>
					<div class="small details">
						<p><b>Address</b></p>
						<p>
							10 / 6 NMN Lane 1st Floor,<br>
							South Masi Street, <br>
							Opp. to Jadamuni Kovil Street,<br>
							Madurai - 625001
						</p>
					</div>
				</div>

				<hr>

				<div class="flex-start-end">
					<div>
						<div class="experience">
							<p class="opensans small small-bold caps">Experience</p>
							<p class="medium medium-bold merri">Icicle Technologies Pvt. Ltd.</p>
							<p class="mini opensans gray">JUN 2015 - <u>Present</u> (2 Years) | <b>Bangalore</b></p>
							<p class="position merri gray">Senior Associate | FrontEnd Developer</p>
							<div class="divider"></div>
							<p class="medium medium-bold merri">EveryCrave WebTeck Pvt. Ltd.</p>
							<p class="mini opensans gray">JAN 2015 - JUN 2015 (5 Months) | <b>Bangalore</b></p>
							<p class="position merri gray">FrontEnd Developer</p>
							<div class="divider"></div>
						</div>

						<div class="experience">
							<p class="opensans small small-bold caps">Education</p>
							<p class="medium medium-bold merri">Anna Univertsity - B.Tech I.T</p>
							<p class="mini opensans gray">K.L.N College of Engineering (Affliated)</p>
							<p class="mini opensans gray">Aug 2010 - 2014</p>
							<div class="divider"></div>
							<p class="medium medium-bold merri">Velammal Matriculation School — 10th, 12th</p>
							<p class="mini opensans gray">YEAR 2010 ( 12<sup>th</sup> Grade )</p>
							<p class="mini opensans gray">YEAR 2008 ( 10<sup>th</sup> Grade )</p>
							<div class="divider"></div>
						</div>

						<div class="projects">
							<p class="opensans small small-bold caps">Projects</p>
							<p class="medium medium-bold merri">Magnet - <em>Applicant Tracking Management App</em></p>
							<div class="mini-divider"></div>
							<p class="position opensans gray"> Application Developer</p>
							<p class="position opensans gray"> FrontEnd - React Native</p>
							<p class="position opensans gray"> BackEnd - Rails</p>
							<div class="divider"></div>

							<p class="medium medium-bold merri">iCouch - <em>Mental Health Practice Management</em></p>
							<div class="mini-divider"></div>
							<p class="position opensans gray"> Application Developer</p>
							<p class="position opensans gray"> FrontEnd - EmberJS</p>
							<p class="position opensans gray"> BackEnd - Rails</p>
							<div class="divider"></div>

							<p class="medium medium-bold merri">Knokal - <em>Connect Local Business with best creatives in Australia</em></p>
							<div class="mini-divider"></div>
							<p class="position opensans gray"> UI Developer </p>
							<p class="position opensans gray"> FrontEnd / BackEnd - Rails</p>
							<div class="divider"></div>

							<p class="medium medium-bold merri">SalesCraft - <em>Sales Management application with gamification</em></p>
							<div class="mini-divider"></div>
							<p class="position opensans gray"> Application Developer </p>
							<p class="position opensans gray"> FrontEnd - EmberJS</p>
							<p class="position opensans gray"> BackEnd - Rails</p>
							<div class="divider"></div>

							<p class="medium medium-bold merri">Cleartrip / WayToGo - <em>SEO Page Generation</em></p>
							<div class="mini-divider"></div>
							<p class="position opensans gray"> Basic Role: Generate Pages for SEO purpose with multiple Languages</p>
							<p class="position opensans gray"> Tool to generate pages written in Ruby (Rails) </p>
							<div class="divider"></div>

							<p class="medium medium-bold merri">SantaCircle - <em>Shop with friends online</em></p>
							<div class="mini-divider"></div>
							<p class="position opensans gray"> UI Developer </p>
							<p class="position opensans gray"> FrontEnd / BackEnd - Rails</p>
							<div class="divider"></div>
						</div>
					</div>
					<div>
						<div class="experience">
							<p class="opensans small small-bold caps">Proficiency</p>
							<p class="small merri">FrontEnd Developer</p>
							<div class="divider"></div>

							<p class="opensans small small-bold caps">SKILLS</p>
							<p class="small merri">HTML <br>/ CSS (SCSS, Bootstrap 3, 4) <br>/ JS (EmberJS, Angular, React) <br> / React Native / Rails </p><br>
							<p class="small merri">(Intermediate) <br>Heroku / Python / Django <br> / Webpack / Gulp </p>
							<div class="divider"></div>

							<p class="opensans small small-bold caps">awards</p>
							<p class="small merri">Google Student Ambassador, <br> K.L.N College for the academic year (2013 - 2014)</p>
							<div class="divider"></div>

							<p class="opensans small small-bold caps">volunteer</p>
							<p class="small merri">@GDG Madurai</p><br>
							<p class="small merri">Handled Multiple Session based on “UI/UX” <br>at various colleges associating with GDG Madurai</p>
							<div class="divider"></div>


							<p class="opensans small small-bold caps">Open source contribution</p>
							<p class="small merri">pe7-icon<br>
								<a href="https://npmjs.com/~prasannavijayan">https://npmjs.com/~prasannavijayan</a>
							</p>
							<div class="mini-divider"></div>
							<p class="small merri">Full Calendar<br>
								<a href="https://www.npmjs.com/package/ember-cli-full-calendar">https://www.npmjs.com/package/ember-cli-full-calendar</a>
							</p>
							<div class="mini-divider"></div>
							<p class="small merri">Slack Auto Invite<br>
								<a href="https://github.com/outsideris/slack-invite-automation">https://github.com/outsideris/slack-invite-automation</a>
							</p>
							<div class="divider"></div>

							<p class="opensans small small-bold caps">I'm in</p>
							<p class="small merri">LinkedIn<br>
								<a href="https://in.linkedin.com/in/prasannavijayan">https://in.linkedin.com/in/prasannavijayan</a>
							</p>
							<div class="mini-divider"></div>
							<p class="small merri">Github<br>
								<a href="https://github.com/prasannavijayan">https://github.com/prasannavijayan</a>
							</p>
							<div class="mini-divider"></div>
							<p class="small merri">Twitter<br>
								<a href="https://twitter.com/prasannavijayan">https://twitter.com/prasannavijayan</a>
							</p>
							<div class="divider"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
